.homecontainer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(60vh, 1fr));
  gap: 20px;
  height: 100%; }
  .homecontainer .active {
    position: absolute;
    right: -400vh; }
  .homecontainer .displayUserContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; }
    .homecontainer .displayUserContainer .displayUser {
      display: grid;
      justify-items: center;
      align-items: center;
      padding: 30px 0;
      grid-template-columns: repeat(auto-fit, minmax(60vh, 1fr));
      gap: 20px;
      width: 100%;
      height: 100%; }
  .homecontainer .homecart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 250px;
    height: 350px;
    background-color: #c2c201; }
    .homecontainer .homecart .image {
      display: flex;
      align-items: center;
      justify-content: center; }
      .homecontainer .homecart .image img {
        width: 150px;
        box-shadow: 3px 4px #f3f302; }
    .homecontainer .homecart .title {
      display: flex;
      gap: 5px; }
      .homecontainer .homecart .title h2 {
        text-align: center;
        font-size: 18px;
        color: whitesmoke; }
    .homecontainer .homecart .subtitle {
      display: flex;
      justify-content: center;
      align-items: center; }
      .homecontainer .homecart .subtitle p {
        font-size: 12px;
        color: orangered;
        text-align: center; }
    .homecontainer .homecart .price {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%; }
      .homecontainer .homecart .price span {
        font-size: 16px;
        color: #f3f302;
        font-weight: bold; }
      .homecontainer .homecart .price button {
        border: none;
        background-color: white;
        font-size: 14px;
        cursor: pointer;
        padding: 8px 15px;
        border-radius: 5px;
        margin-bottom: 5px;
        transition: 0.5s ease-in-out all;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transition: 0.5s ease-in-out all;
        -moz-transition: 0.5s ease-in-out all;
        -ms-transition: 0.5s ease-in-out all;
        -o-transition: 0.5s ease-in-out all; }
        .homecontainer .homecart .price button:hover {
          background-color: green;
          color: white; }

.paginationBtns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center; }
  .paginationBtns a {
    padding: 6px 15px;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer; }
    .paginationBtns a:hover {
      color: white;
      background-color: #2b2eff; }
  .paginationBtns .paginationActive a {
    color: white;
    background-color: #2b2eff; }
  .paginationBtns .paginationDisabled a {
    color: white;
    background-color: grey; }
